*.class

# Various scripts
retest.cmd

# Package Files
*.jar
*.war
*.ear

# Editor backup files
*~
*.bak

# Maven
target

# Eclipse
.project
.classpath
.settings

# IntelliJ Idea
.idea
*.iml
*/*.iml

# webapp logs
*/env.CATALINA_HOME_IS_UNDEFINED*

# Data stored
data/*.xapi
data/*.osm
data/cyprus
data/turkey
data/*.osm.pbf
data/*il-ilce-semt.xml
data/*ilmesafe.txt
data/*ilmesafe.xls
